<div class="main">
    <div class="login-component">
        <img src="assets/wissenlogo.png" alt="logo">
        <h5>Hello there, Sign in to continue</h5>
        <br>


        <div>
            <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> -->
            <form action="" class="form-container" >
                <div class="form-group">
                    <label for="usr">Name</label>
                    <input type="text" class="form-control" id="usr" formControlName="userName">
                </div>
                <br>
                <div class="form-group">
                    <label for="pwd">Password</label>
                    <div class="input-group mb-3">
                        <input type="{{ isPasswordVisible ? 'text' : 'password' }}" class="form-control" id="pwd"
                            name="password" formControlName="password">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"
                                (click)="togglePasswordVisibility()">
                                <i class="bi"
                                    [ngClass]="{'bi-eye': isPasswordVisible, 'bi-eye-slash': !isPasswordVisible}"></i>
                            </button>
                        </div>
                    </div>

                </div>
                <br>
                <div class="form-check mb-3">
                    <input class="form-check-input" id="terms" type="checkbox">
                    <label class="form-check-label" for="terms">
                        By creating or logging into an account, you are agreeing with our
                        <a href="#">Terms &amp; Conditions</a> and
                        <a href="#">Privacy Policy</a>.
                    </label>
                </div>
                <br>
                <button class="btn form-control next-btn">Next</button>

                <a href="#" class="sso-link">Sign in with company SSO</a>
            </form>

        </div>
    </div>
</div>